@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700";
#app {
  background: url(http://static1.squarespace.com/static/55acc005e4b098e615cd80e2/5777d3433e00be9cc0d8e3f6/5794e11ee4fcb508439092c7/1469374779773/IMG_3487.jpg?format=2500w);
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.App {
  height: 520px;
  width: 320px;
  box-shadow: 0 10px 20px rgba(19, 27, 35, 0.075);
}
@media screen and (max-width: 600px) {
  .App {
    width: 100vw;
    height: 100vh;
  }
}
.App .Conversation {
  height: calc(100% - 60px);
  width: 100%;
}
.App .Input {
  height: 60px;
  background: rgba(193, 207, 218, 0.8);
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
}
.App .Input input {
  flex: 1 0 auto;
  border-radius: 44px;
  height: 40px;
  box-sizing: border-box;
  border: 0;
  padding: 0 20px;
  color: #131B23;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  outline: none;
}
.App .Input button {
  background: #4d6b82;
  height: 44px;
  color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  border: 0;
  border-radius: 50px;
  margin-left: 10px;
}

header {
  height: 44px;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  border-bottom: 1px solid #EEE;
  color: #131B23;
}

.Conversation .container {
  display: flex;
  height: calc(100% - 45px);
  overflow-y: auto;
  box-sizing: border-box;
  background: rgba(233, 241, 247, 0.95);
  padding: 10px 0;
}
@media screen and (max-width: 640px) {
  .Conversation .container {
    background: rgba(233, 241, 247, 0.1);
  }
}
.Conversation .container .Messages {
  width: 100%;
}
.Conversation .container .Messages .Message {
  padding: 5px 20px;
}
.Conversation .container .Messages .Message:last-child {
  padding-bottom: 20px;
}
.Conversation .container .Messages .Message span {
  padding: 10px;
  box-sizing: border-box;
  font-size: 12px;
  display: inline-block;
  font-weight: 600;
  max-width: 80%;
  line-height: 1.4;
  border-radius: 3px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.Conversation .container .Messages .Message--them span {
  background: white;
  box-shadow: 0 5px 10px rgba(19, 27, 35, 0.05);
  color: rgba(19, 27, 35, 0.9);
}
.Conversation .container .Messages .Message--you {
  justify-content: flex-end;
  display: flex;
}
.Conversation .container .Messages .Message--you span {
  background: #014159;
  color: white;
}
