// Typography
//@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700';

// Colors
$purple: #340068;
$white: #E9F1F7;
$black: #131B23;
$blue: #42CAFD;
$grey: #C1CFDA;


// Mixins
@mixin mq($width) {
	@media screen and (max-width: $width) {
		@content;
	}
}


// Styles
#app {
	background: url(http://static1.squarespace.com/static/55acc005e4b098e615cd80e2/5777d3433e00be9cc0d8e3f6/5794e11ee4fcb508439092c7/1469374779773/IMG_3487.jpg?format=2500w);
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	display: flex;
	font-family: 'Open Sans', sans-serif;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.Post {
	margin: 0 auto;
	height: 520px;
	width: 320px;
	box-shadow: 0 10px 20px rgba($black, .075);

	@include mq(600px) {
		width: 100vw;
		height: 100vh;
	}

	.Conversation {
		height: calc(100% - 60px);
		width: 100%;
	}
}

.header {
	height: 44px;
	background: darken($grey, 40);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	font-weight: 500;
	border-bottom: 1px solid #EEE;
	color: $white;
}

// Conversation
.Conversation {

	.container {
		display: flex;
		height: calc(100% - 45px);
		overflow-y: auto;
		box-sizing: border-box;
		background: rgba($white, .95);
		padding: 10px 0;

		@include mq(640px) {
			background: rgba($white, .1);
		}

		.Messages {
			width: 100%;

			.Message {
				padding: 5px 20px;

				&:last-child {
					padding-bottom: 20px;
				}

				ul {
				font-size: 9px;
				text-align: right;
				}

				&.them {
					ul {
						font-size: 9px;
						text-align: left;
						max-width: 80%;
					}

					span {
						padding: 10px;
						box-sizing: border-box;
						font-size: 12px;
						display: inline-block;
						font-weight: 600;
						max-width: 80%;
						line-height: 1.4;
						border-radius: 3px;
						overflow-wrap: break-word;
	  				word-wrap: break-word;
						word-break: break-word;
						-ms-hyphens: auto;
						-moz-hyphens: auto;
						-webkit-hyphens: auto;
						hyphens: auto;
						background: white;
						box-shadow: 0 5px 10px rgba($black, .05);
						color: rgba($black, .9);
					}

				}

				&.you {

					justify-content: flex-end;
					display: flex;

					span {
						padding: 10px;
						box-sizing: border-box;
						display: inline-block;
						font-size: 12px;
						font-weight: 600;
						max-width: 80%;
						line-height: 1.4;
						border-radius: 3px;
						overflow-wrap: break-word;
	  				word-wrap: break-word;
						word-break: break-word;
						-ms-hyphens: auto;
						-moz-hyphens: auto;
						-webkit-hyphens: auto;
						hyphens: auto;
						background: darken($blue, 45);
						color: white;
					}
				}
			}
		}
	}
}
